In [1]:
import numpy as np
import pandas as pd

1. load file
2. delete unused features
3. clear noise data
4. generate missing data

In [2]:
import calendar
import time

def getCurrentTimestamp():
    return int(calendar.timegm(time.gmtime()))

In [3]:
start_time = getCurrentTimestamp()
path = '../data/df_final_red_sum_abs.csv'
print('Begin reading CSV file, please wait ...')
df = pd.read_csv(path, low_memory=False)
print('Complete reading CSV file')
total_time = getCurrentTimestamp() - start_time
print('load time:' + str(total_time))
#df -> 2925493 rows Ã— 142 columns
df.describe()

Begin reading CSV file, please wait ...
Complete reading CSV file
load time:0

,Unnamed: 0.1,Unnamed: 0,Submission ID,Transfers : Hour,Transfers : No. of Pax,Transfers : No. of Cargo Lifts/Drops,Lat,Lon,distance,Distance_abs,Total fuel used L,VHM0 (Wave Height),Eastward Wind,Northward Wind,Eastward Current,Northward Current
count,6947.000000,6947.000000,6.947000e+03,6946.000000,6947.000000,6935.000000,6947.000000,6947.000000,6947.000000,6946.000000,6947.000000,4645.000000,6947.000000,6947.000000,6947.000000,6947.000000
mean,10676.924860,10676.924860,8.136921e+07,11.549381,4.673096,2.715357,52.391160,2.388653,12.509459,13.123831,294.601593,0.745393,0.147942,1.056938,-0.022132,-0.158906
std,6998.508139,6998.508139,9.264214e+06,3.880162,2.869124,2.107649,0.314422,0.811950,12.987806,22.022896,301.937394,0.297165,4.120331,4.042826,0.170111,0.589130
min,0.000000,0.000000,6.526061e+07,2.000000,0.000000,0.000000,52.200183,1.736557,0.000000,0.000000,0.000000,0.078000,-11.990000,-11.770000,-0.730000,-1.185000
25%,4098.500000,4098.500000,7.321172e+07,8.000000,3.000000,1.000000,52.245617,1.736557,1.206612,0.000000,28.368669,0.522000,-3.230000,-1.730000,-0.160000,-0.692000
50%,10731.000000,10731.000000,8.095463e+07,11.000000,4.000000,3.000000,52.299750,2.481500,10.127432,2.682713,224.315409,0.776000,0.250000,0.980000,-0.029000,-0.355000
75%,17322.500000,17322.500000,8.990379e+07,15.000000,6.000000,4.000000,52.474199,2.527783,18.768389,30.184125,465.354928,0.946000,3.530000,4.225000,0.074000,0.395000
max,22972.000000,22972.000000,9.864308e+07,22.000000,21.000000,30.000000,54.074279,6.832500,139.729180,193.153174,3133.067118,1.874000,11.340000,11.500000,0.634000,1.204000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6947 entries, 0 to 6946
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0.1                          6947 non-null   int64
 1   Unnamed: 0                            6947 non-null   int64
 2   Submission ID                         6947 non-null   int64
 3   Submission ID generated by device     6947 non-null   object
 4   Transfers Date                        6947 non-null   object
 5   Vessel                                6947 non-null   object
 6   Transfers : Time Question             6947 non-null   object
 7   Transfers : Hour                      6946 non-null   float64
 8   Transfers : To/From where?            6947 non-null   object
 9   Transfers : Turbine                   6947 non-null   object
 10  Transfers : No. of Pax                6947 non-null   int64
 11  Transfers : Transfer Up/Down          6947 non-null   object
 12  Transfers : No. of Cargo Lifts/Drops  6935 non-null   float64
 13  Lat                                   6947 non-null   float64
 14  Lon                                   6947 non-null   float64
 15  datetime                              6947 non-null   object
 16  distance                              6947 non-null   float64
 17  Distance_abs                          6946 non-null   float64
 18  Total fuel used L                     6947 non-null   float64
 19  VHM0 (Wave Height)                    4645 non-null   float64
 20  Eastward Wind                         6947 non-null   float64
 21  Northward Wind                        6947 non-null   float64
 22  Eastward Current                      6947 non-null   float64
 23  Northward Current                     6947 non-null   float64
dtypes: float64(12), int64(4), object(8)
memory usage: 1.3+ MB

C. Clean data
1. delete unused columns
2. delete duplicate rows
3. convert values to numbers
4. fill empty or 0 or null by means
5. clean noise values

In [5]:
#C1 delete unused columns
unused_column_names = ['Unnamed: 0.1', 'Unnamed: 0', 'Submission ID', 'Submission ID generated by device', 'Transfers Date', 'Transfers : Time Question', 'Transfers : Hour', 'Transfers : To/From where?']
df = df.drop(columns=unused_column_names)

In [6]:
#C2
df.drop_duplicates()
df.columns

Index(['Vessel', 'Transfers : Turbine', 'Transfers : No. of Pax',
       'Transfers : Transfer Up/Down', 'Transfers : No. of Cargo Lifts/Drops',
       'Lat', 'Lon', 'datetime', 'distance', 'Distance_abs',
       'Total fuel used L', 'VHM0 (Wave Height)', 'Eastward Wind',
       'Northward Wind', 'Eastward Current', 'Northward Current'],
      dtype='object')

In [7]:
df['Vessel'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6947 entries, 0 to 6946
Series name: Vessel
Non-Null Count  Dtype
--------------  -----
6947 non-null   object
dtypes: object(1)
memory usage: 54.4+ KB

In [19]:
from datetime import datetime

#for ex: 06/12/2021  06:55:00
def convert_date_2_timestamp(time_str):
    #print(time_str)
    try:
        dt = datetime.strptime(time_str, "%d/%m/%Y %H:%M")
        return dt.timestamp()
    except ValueError:
        print("Invalid time format. Please use 'dd/mm/yyyy HH:MM:SS'")
    return None

time_str = "18/2/2024 06:55:00"
timestamp = convert_date_2_timestamp(time_str)
print(f"Timestamp for {time_str}: {timestamp}")

Invalid time format. Please use 'dd/mm/yyyy HH:MM:SS'
Timestamp for 18/2/2024 06:55:00: None

In [20]:
#convert date time to timestamp

df['datetime_sec'] = df['datetime'].apply(convert_date_2_timestamp)

In [23]:
df['datetime_sec'][6]

1638788400.0

In [8]:
#c3 convert string to numbers
#

In [9]:
#insert new columns: from lat, from lon, from time